# description: This workflow allows to profile more easily running load tests
# type: CI
# owner: @camunda/zeebe-distributed-platform
name: Profile running load test
on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Specifies the name of the load test to profile'
        required: true
      pod:
        description: 'Specifies the pod name to profile. Leave empty to profile all three pods (camunda-0, camunda-1, camunda-2) with different events, or specify a pod name for CPU profiling only.'
        default: ''
        required: false
      profiler_options:
        description: 'Optional additional flags for async-profiler (e.g., "-t" for flamegraph format)'
        default: ''
        required: false
  workflow_call:
    inputs:
      name:
        description: 'Specifies the name of the load test to profile'
        required: true
        type: string
      pod:
        description: 'Specifies the pod name to profile. Leave empty to profile all three pods with different events, or specify a pod name for CPU profiling only.'
        default: ''
        required: false
        type: string
      profiler_options:
        description: 'Optional additional flags for async-profiler (e.g., "-t" for flamegraph format)'
        default: ''
        required: false
        type: string
jobs:
  profile-all-pods:
    name: Profile ${{ matrix.event }} on ${{ matrix.pod }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ inputs.pod == '' }}
    permissions:
      contents: 'read'
      id-token: 'write'
    strategy:
      fail-fast: false
      matrix:
        include:
          - pod: camunda-0
            event: cpu
          - pod: camunda-1
            event: wall
          - pod: camunda-2
            event: alloc
    steps:
      - uses: actions/checkout@v6
      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: 'projects/628707732411/locations/global/workloadIdentityPools/zeebe-gh-actions/providers/gha-provider'
          service_account: 'zeebe-gh-actions@zeebe-io.iam.gserviceaccount.com'
      - uses: google-github-actions/get-gke-credentials@v3.0.0
        with:
          cluster_name: 'zeebe-cluster'
          location: europe-west1-b
      - name: Set right namespace
        run: |
          kubectl config set-context --current --namespace=${{ inputs.name }}
      - name: Execute profiling
        run: >
          ./load-tests/docs/scripts/executeProfiling.sh ${{ matrix.pod }} ${{ matrix.event }} "${{ inputs.profiler_options }}"
      - uses: actions/upload-artifact@v6
        with:
          name: flamegraph-${{ matrix.event }}-${{ matrix.pod }}
          path: ${{ matrix.pod }}*
      - name: Summarize profiling
        if: success()
        run: |
          cat >> "$GITHUB_STEP_SUMMARY" <<EOF
            ## Profiling \`${{ inputs.name }}\` - ${{ matrix.event }} on ${{ matrix.pod }}
            Async profiling (${{ matrix.event }}) has been executed on ${{ inputs.name }}-${{ matrix.pod }}. Please download the artifact.
          EOF

  profile-single-pod:
    name: Profile CPU on ${{ inputs.pod }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ inputs.pod != '' }}
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v6
      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: 'projects/628707732411/locations/global/workloadIdentityPools/zeebe-gh-actions/providers/gha-provider'
          service_account: 'zeebe-gh-actions@zeebe-io.iam.gserviceaccount.com'
      - uses: google-github-actions/get-gke-credentials@v3.0.0
        with:
          cluster_name: 'zeebe-cluster'
          location: europe-west1-b
      - name: Set right namespace
        run: |
          kubectl config set-context --current --namespace=${{ inputs.name }}
      - name: Execute profiling
        run: >
          ./load-tests/docs/scripts/executeProfiling.sh ${{ inputs.pod }} cpu "${{ inputs.profiler_options }}"
      - uses: actions/upload-artifact@v6
        with:
          name: flamegraph-cpu-${{ inputs.pod }}
          path: ${{ inputs.pod }}*
      - name: Summarize profiling
        if: success()
        run: |
          cat >> "$GITHUB_STEP_SUMMARY" <<EOF
            ## Profiling \`${{ inputs.name }}\` - CPU on ${{ inputs.pod }}
            Async profiling (CPU) has been executed on ${{ inputs.name }}-${{ inputs.pod }}. Please download the artifact.
          EOF
